<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/front-end/public/css/page_1.css">
    <link  rel="icon" href="/front-end/public/images/home/logo.png">
    <script src="https://kit.fontawesome.com/1ad76c6c9b.js" crossorigin="anonymous"></script>
    <title>Order Food Online</title>
</head>
<body>
    
    <header>
        <div class="nav">
        <div><img class="logo" src="/front-end/public/images/home/logo1.png"></div>
            <ul class="nav-bar">
                <div class="search">
                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                    <input type="text" placeholder="Search for restaurent,cusine and dish ">
                </div>
                <li>Login</li>
                <li>Sign Up</li>
        </ul>
        </div>
    </header>
    <section class="sec-1">
        <div class="box" id="val">
            <img src="/front-end/public/images/page_1/fd.png">
        </div>
        <p>Delivery</p>
        <div class="box" >
            <img src="/front-end/public/images/page_1/b.png">
        </div>
        <p>Browzing</p>
        <div class="box">
            <img src="/front-end/public/images/page_1/no.png">
        </div>
        <p>NightOut</p>
    </section>
    <section class="sec-2">
        <div class="first-1">
            <div>
                <span class="type1">Filter</span>
            </div>
            <div>
                <span class="type1">Rating:4.0+</span>
            </div>
            <div>
                <span class="type1">Veg/Nonveg</span>
            </div>
            <div>
                <span class="type1">cuisines</span>
            </div>
        </div>
    </section>
    
    <section class="sec-3">
        <div class="line1">
            <h1>Inspiration for your first order</h1>
            <br>
            <h4>Dosa</h4>
            <div class="box1" id="val1" >
                <img src="/front-end/public/images/page_1/dosa.png">
            </div>
            <h3>Idli</h3>
            <div class="box1">
                <img src="/front-end/public/images/page_1/idliv.png">
            </div>
            
            <div class="box1">
                <img src="/front-end/public/images/page_1/biryani.png">
            </div>
            <h5>Biriyani</h5>
            <div class="box1">
                <img src="/front-end/public/images/page_1/pizza-png-free-download-53.png">
            </div>
            <h6>Pizza</h6>
        </div>
    </section>   
    <section class="sec-4">
        <div class="line2">
            
            <h1>Top brands for you</h1>
            <br><br>
            <h4>McDonald's</h4>
            <div class="box1">
                <img src="/front-end/public/images/page_1/mcd.png">
            </div>
            <h3>KFC</h3>
            <div class="box1">
                <img src="/front-end/public/images/page_1/kfc.png">
            </div>
            <h5>Burger King</h5>
            <div class="box1">
                <img src="/front-end/public/images/page_1/bk.png">
            </div>
            <h6>Dominos Pizza</h6>
            <div class="box1">
                <img src="/front-end/public/images/page_1/dp.png">
            </div>
        </div>
    </section>
    
    <section class="footer">
        <div class="sec-5">
            <div class="first">
                <div>
                    <img src="/front-end/public/images/home/logo1.png">
                </div>
            </div> 
            <div class="second">
                <div>
                    <h4>Company</h4>
                    <a href="#">Who We Are</a>
                    <a href="#">Work With Us</a>
                    <a href="#">Investor Relations</a>
                    <a href="#">Report Fraud</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>
            <div class="box-4">
                <h4>Social Links</h4>
                <div>
                   <a href="#"><i class="fab fa-facebook"></i></a>
                   <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <hr>
            <p class="third">By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2022-2023 ©Find-food Ltd. All rights reserved.</p>
        </div>
    </section>
    






    <script src="/front-end/public/javascript/page_1.js"></script>  
</body>
</html>