<html lang="en">
<head>
    <title>The Restaurent </title>
    <link rel="stylesheet" href="/front-end/public/css/index.css">
    <link  rel="icon" href="../../public/images/home/logo.png">
</head> 
<body>
    <div class="hero">
        <div class="form-box">
         <p>Hi mate : ) , want to check out our products do login if u have an account or else register fast.....!</p> 
            <div class="button-box">
                
                <div id="btn"></div>
                <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                <button type="button" class="toggle-btn"onclick="register()">Register</button>
            </div>
            <div class="social-icons">
            <a target="_blank" href="https://www.facebook.com"><img src="/front-end/public/images/fb1.png" ></a>
            <a target="_blank" href="https://www.twitter.com"><img src="/front-end/public/images/tw1.png" target="href:www.twitter.com"></a>
            <a target="_blank" href="https://www.google.com"><img src="/front-end/public/images/gp1.png" target="href:www.google.com"></a>
        </div>
            <form style="padding-top: 50px;" id="login" class="input-group">
                <input type="text" class="input-field" placeholder="User Id" required>
                <input type="password" class="input-field" placeholder="Enter Password" minlength="8" required >
                <input type="checkbox" class="checkbox" ><span>Remember Password</span>
                <button type="submit" class="submit-btn"style="cursor: pointer;" >Log In</button>
            </form>
            <form style="padding-top: 50px;" id="register"class="input-group">
                <input type="text" class="input-field" placeholder="User Id" required>
                <input type="password" class="input-field" placeholder="Enter Password" minlength="8" required>
                <input type="text" class="input-field" placeholder="EMail Id" required>
                <input type="checkbox" class="checkbox" ><span>I agree to the terms and condition</span>
                <button type="submit" class="submit-btn" style="cursor: pointer;" >Register</button>
            </form>
    </div>
</div>
    <script src="/front-end/public/javascript/index.js">
    </script>
</body>
</html>