<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="new.css">
    <link  rel="icon" href="logo.png">
    <script src="https://kit.fontawesome.com/1ad76c6c9b.js" crossorigin="anonymous"></script>
    <title>Find-food</title>

</head>
<body>
    <script src="javascript/home.js"></script>

    <header>
        <div class="nav">
            <div><h4>Want To Explore more</h4>
                 <h4>&emsp;&emsp;&ensp;Scroll down</h4>
            </div>
            <ul class="nav-bar">
                <li>Add Restaurant</li>
                <li>Login</li>
                <li>Sign Up</li>
            </ul>
        </div>
        <div class="head">
            <img src="logo1.png" class="logo">
            <b><h1>Discover The Best Food and beverages here </h1></b>
            <div class="search">
                <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
            <input type="text" placeholder="Search for restaurent,cusine and dish ">
        </div>
    </div>
        <div class="header-image">
            <img src="b1.jpg">
        </div>
    </header>
    <br>
    <section class="sec-1">
        <div class="box">
            <div class="white"><p>Order Food Online</p></div>
            <img src="img1.png">
        </div>
        <div class="box">
            <div class="white"><p>Best foods near you</p></div>
            <img src="img2.png">
        </div>
        <div class="box">
            <div class="white"><p>Go out for a Meal</p></div>
            <img src="img3.png">
        </div>
    </section>
    <section class="end">
        <div class="sec-2">
            <h1>Explore other options for you here</h1>
            <h4>Popular cuisines near me</h4>
            <div>
                <a href="#">Bakery food near me</a>
                <i class="fas fa-circle"></i>
                <a href="#">Beverages food near me</a>
                <i class="fas fa-circle"></i>
                <a href="#">Biryani food near me</a>
                <i class="fas fa-circle"></i>
                <a href="#">Burger food near me</a>
            </div>
        </div>
        <div class="sec-2">
            <h4>Popular restaurant types near me</h4>
            <div>
                <a href="#">Bakeries near me</a>
                <i class="fas fa-circle"></i>
                <a href="#">Bars near me</a>
                <i class="fas fa-circle"></i>
                <a href="#">Beverage Shops near me</a>
                <i class="fas fa-circle"></i>
                <a href="#">Cafés near me</a>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="sec-3">
            <div class="first">
                <div>
                    <img src="logo1.png">
                </div>
                <div class="first-1">
                    <div>
                        <span>Indian</span>
                    </div>
                    <div>
                        <span>English</span>
                    </div>
                </div>
            </div>
            <div class="second">
                <div>
                    <h4>Company</h4>
                    <a href="#">Who We Are</a>
                    <a href="#">Work With Us</a>
                    <a href="#">Investor Relations</a>
                    <a href="#">Report Fraud</a>
                    <a href="#">Contact Us</a>
                </div>
            </div>
            <div class="box-4">
                <h4>Social Links</h4>
                <div>
                   <a href="#"><i class="fab fa-facebook"></i></a>
                   <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <hr>
            <p class="third">By continuing past this page, you agree to our Terms of Service, Cookie Policy, Privacy Policy and Content Policies. All trademarks are properties of their respective owners. 2022-2023 ©Find-food Ltd. All rights reserved.</p>
        </div>
    </section>
</body>
</html>