/* *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    border: 10px double red;
    font-size: 1.5rem;
    margin:1.5em 2em;
    /* margin-top:1.5em; */
    /* margin-left:2em; */
    /* margin-right:2em; */
    /* margin-bottom:2em */
  /*   padding:1.5em ;  
    outline:5px solid purple; */
    /* outline-offset: -20px ; */
/* }
.circle{
    margin:3rem auto ;
    background-color: gold;
    width:100px;
    height:100px;
    border:2px solid black;
    border-radius: 50px;
    outline :10px double red;
    outline-offset: -25px ;
} */ 

/* input,button{
    font: inherit;
} */
/* a{
    color:hsl(207, 44%, 49%);
    
}
a:visited{
    color:hsl(300, 100%, 25%);
}
a:hover{
    color:hsl(189, 44%, 49%);
    background: gold;
}
a:active{
    color:red;
} */


/* ol{
    list-style-type:lower-alpha;
    padding: 0;
}
ul{
    list-style-type: square;
    text-align: center;
    list-style-position: inside;
    color:blue;
    line-height: 1.6;
    /* list-style:square url('../../public/images/gp1.png')
    inside; */
/* }
ul li:nth-child(odd){
    color:red;
}
ul::marker{
    color:gold;
    font-family: fantasy;
    font-size: 1em;
    content: "Only 5Rs >> ";
} */ 
/*mini proj 1*/
/*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    margin: 0.5rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
nav{
    border:2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;/*top leftand right bottom
    max-width: 700px;
    font-size: 3rem;
    line-height: 7rem;
}
h2{
    background-color: gold;
    border-radius: 2rem 2rem 0 0;
}
ul{
    list-style-type: none;
}
li{
    border-top: 1px solid #333;
}
li a,
li a:visited{
    text-decoration: none;
    color:#333;
}
li a:hover,
a:focus{
    background: #333;
    color: white;
    cursor: pointer;
}
li a{
    display: block;
}
li:last-child a{
    border-radius: 0 0 1.9rem 1.9rem ;
}*/

/*portfolio*/

/* .container{
    width:300px;
    height: 200px;
    background-color: orange;
    margin-left: 30%; 
}
.container1{
    width:300px;
    height: 200px;
    background-color: white;
    margin-left: 30%; 
    
}
.container2{
    width:300px;
    height: 200px;
    background-color: gold;
    margin-left: 30%; 
    
}
.i1{
    width:100px;
    height: 100px;
    background-color: blue;
    border-top: 100px;
    margin-left: 30%;
    margin-bottom: 20%;
    border-radius: 3rem;
    padding:2px;margin:0 auto;
    
} */
/*Display c-10*/
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 2rem;
    font-family: 'Roboto', sans-serif;
    
}
ul{
    
    list-style-type: none;
    padding: 0.5rem;
    text-align: right;
    background-color: black;
    
}
li{
    display: inline-block;
    margin-inline:  0.5rem;
}
li a{
    color: white;
    text-decoration: none;
}
li a:hover,li a:focus{
    text-decoration: underline;

} */
/* p{
    background-color: grey;
}
.opposite{
    display: inline-block;
    background-color: black;
    color:blanchedalmond;
    padding: 4rem;
} */

/*c-11 floats*/
/* section{
    background-color: bisque;
    border: 1px solid #333;
    padding: 1rem;
    display: flow-root;
}
.blocks{
    width: 30vw;
    height: 30vw;
    background-color: black;
    color:white;
    padding: 1rem;
}
.left{
    float:left;
    margin-right: 1rem;
}
.right{
    float:right;
    margin-left: 1rem;
}
.clear{
    clear: both;
} */
/*column 12*/

/* .columns{
     column-count: 4;
    column-width: 250px; 
    columns: 4 250px;
    column-rule:3px solid #333;
    column-gap: 3rem;
}
.columns p{
    margin-top: 0;
} 
/* .columns h2{
    break-inside:avoid;
     background-color: #333;
     color:antiquewhite;
     padding: 1rem;
     margin-top: 0;
} *//* 
.columns .quote{
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
    color: #333;
    column-span: all;
}
 */

 /*pOSITION C13*/

/* .outer-container{
    border: 3px dashed #333;
    width:75vw;
    height:85vw;
    margin:40px auto;
    position:relative;
}
.inner-container{
    border: 2px solid #333;
    width:40vw;
    height:50vw;
    margin:200px auto;
}
.box{
    width:150px;
    height:150px;
    color:azure;
    padding: 1rem;
}
.absolute{
    background-color: blue;
    position:absolute;
    top:0;
    left:0;
    z-index: 1;
}
.Relative{
    background-color: red;
    position:relative;
    top: 300px;
    left: 200px;;
}
.Fixed{
    background-color: gold;
    position:fixed;
    top: 100px;
    
}
.Sticky{
    background-color: black;
    position: sticky;
    top:10;
} */

/* html{scroll-behavior:smooth;}
section{
    height: 100vh;
}
.blue{background-color: blue;}
.red{background-color: red;}
.gold{background-color: gold;}

header,  fotter{
    color:wheat;
    text-align: center;
    height: 100px;
    
}
header{
    position: sticky;
    top:0;
    font-size: 5rem;
}
fotter{
    background-color: #000;
    position: sticky;
    bottom: 0;
    font-size: 3rem;
  
}
a:visited
{
    color: white;
}

.social{
    background-color: royalblue;
    color:white;
    font-size: inherit;
    padding: 1rem;
    position: fixed;
    top:30%;
    left:0;
    z-index: 1;
} */
/*Flex Box c14*/


/* .container{
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border:1px solid #000;
    display:flex;
    
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.box{
    
    min-width:100px;
    height:100px;
    background-color: black;
    color:white;
    font-size: 2rem;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}
.box:nth-child(2){
    order:3;
}
 */

 /*c15 grid Layout*/

/* .container
{
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}
.box
{
    background-color: #333;
    color:#fff;
    font-size: 2rem;
    padding: 0.5rem;
} */

/* images c16 */

/* img{display: block;} */
/* Utility classes */
/* .nowrap{
    white-space: normal;
}
.offscreen{
    position:absolute;
    left:-100000px;
} */
/* End Utility classes */

   /* background-image: url('bubble.png'),linear-gradient(to left,steelblue,#fff);
   background-repeat: repeat-y;
   background-position:right ; */
/* }
.container{
    background-color: rgb(245, 172, 77);
    background-image: url('bg.png');
    background-size: cover;
    background-position: top;
    background-color: hsla(0, 0%, 0%, 0.41);
}
.hero{
    border-bottom: 2px solid #000;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:30px;

    background-color: hsla(0, 0%, 0%, 0.35);
    
}
.h1{
    font-size: 500%;
    color:  aliceblue;
    text-shadow: 2px 2px 5px #000;
    /* background-color: hsla(0, 0%, 0%, 0.41);
    padding: 0.25rem;
    border-radius: 10px; 
}
 .profile-pic-figure{
    width: 35%;
}
.profile-pic-figure img{
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double gray;
    border-radius: 50%;
}
.example{
    margin-top: 1rem;
    padding-left:20px ;
    border:1px solid red;
}
.example img{
    width: 25%;
    height: auto;

}
.clip{
    font-weight: 800;
    font-size: 18rem;
    text-align: center;
    background-image: url('bg.png');
    background-size: 100%;
    text-transform: uppercase;
    background-clip: ;
    -webkit-background-clip: text;
    color:transparent;
} */

/* media qeries c17 */
 
   /* background-color:#475569;
   background-image: radial-gradient(whitesmoke,#475569);
    display: flex;
    flex-direction: column; */

/* header ,nav,main,footer {
    display: grid;
    place-content: center;
    grid-template-columns: 100%;
    text-align: center;
}
header,footer {
    position: sticky;
    background-color: #1e293b;
    color:whitesmoke;
}
nav{
    background-color: #fff;
    color:#000;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
}
main{
    flex-grow: 1;
}
header{
    top:0;
}
footer{
    bottom: 0;
} */
/* ||small*/
/* @media screen and (min-width:576px){
    body{
        background-color: green;
        background-image: radial-gradient(whitesmoke,green);
    }
    nav{display: none;}
} */
/* ||medium*/
/* @media screen and (min-width:768px){
    body{
        background-color: gold;
        background-image: radial-gradient(whitesmoke,gold);
    }
} */
/* ||large*/
/* @media screen and (min-width:992px){
    body{
        background-color: firebrick;
        background-image: radial-gradient(whitesmoke,firebrick);
    }
   
} */
/* ||xl*/
/* @media screen and (min-width:1110px){
    body{
        background-color: rebeccapurple;
        background-image: radial-gradient(whitesmoke,rebeccapurple);
    }
   
} */
/* ||MOBILE DEVICE LANDSCAPE*/
/* @media screen and (max-height:425px) and (min-aspect-ratio:7/4){
    body{
        background-color: dodgerblue;
        background-image: radial-gradient(whitesmoke,dodgerblue);
    }
    h1, h2 {
        font-size: 1.5rem;
        
    }
    nav{display:none;}
  
} */

/* proj 2 c18 */

/* img{
    display: block;
    max-width: 100%;
    height: auto;
} */
/* UTILITY CLASS*/
/* nowrap{
    white-space: nowrap;
} */
/*General Style*/
/* html{
    scroll-behavior: smooth;
} */

/* header,footer{
    position: sticky;
    background-color: #1e293b;
    color: whitesmoke;
    text-align: center;
}
header{
    top:0;
}
nav{
    background-color: white;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
}
nav a,nav a:visited{
    color: #000;
}

nav a:focus,
nav a:hover{
color: hsla(0, 0% ,20%, 0.6);
}

main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding:1rem;
}
footer{
    bottom: 0;
} */
/*Profile card*/
/* .card{
    scroll-margin-top:8rem ;
    width: min(100%,350px);
    background-color: #cbd5e1;
    border:2px sold #000;
    border-radius: 15px;
    padding: 1rem;
    flex-direction: column;
    align-items: center;
}
.card p{
    align-content: center;
}
.card figure{
    display: flex;
    flex-flow: column nowrap ;
}
.card img{
    border: 5px double #333;
    border-radius: 50%;
}

.card figcaption{
    font-weight: bolder;
    text-size: 2rem;
    margin: 1rem;
    text-align: center;
}
 
@media screen and (min-width:576px) {
    main{
        justify-content: center;
        flex-flow: roe wrap;
        padding: 1rem;
    }
    .card{
        width: min(100%,400px);
    }
    .card:last-child{
        order: -1;
    }
}
 
@media screen and (min-width:768px) {
    nav{
        display: none;
    }
    .card{
        width: min(100%,325px);
    }
    .card figure{
        flex-flow: column-reverse;
        }
    .card figcaption{
        margin:0.1em 0 ;
    }
    .card p{
        margin-top: 1rem;
    }
}
@media screen and (min-width:992px) {
    .card{
        width: min(100%,400px);
    }
    .card :nth-child(2){
        order: -1;
        }

}
@media screen and (min-width:1220px) {
    .card{
        width: min(calc(330%-1rem),500px);
    }
}
@media screen and (min-width:425px) and (min-aspect-ratio:7/4) {
    h1{
        font-size:1.5rem;
    }
    nav{
        display: none;
    }
    main{
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: stretch;
    }
    .card{
        width: calc(33%-0.25rem),200px;
    }
    .card figcaption,.card p{
        font-size: 1.25rem;
    }
}*/

/* c20 css variables*/

 *
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
/* Variables */
:root{
    --BGCOLOR: #475569;
    --ALT-BGCOLOR:#1e293b;
}
@media (prefers-color-scheme: light){
    :root{
        --BGCOLOR:#000;
        --ALT-BGCOLOR:#333;
    }
}



 body
{
    font-family: 'Nunito', sans-serif;
   min-height: 100vh;
   background-color: var(--BGCOLOR);
   background-image: radial-gradient(whitesmoke,var(--BGCOLOR));
   display: flex;
   flex-direction: column;
}
header,footer{
    position: sticky;
    background-color: var(--ALT-BGCOLOR);
    color:whitesmoke;
    text-align: center;
}

header{
    top: 0;
}
nav{
    background-color: white;
    padding: 0.5rem;
    border-bottom: 2px solid #000;
    font-weight: bolder;
    display: flex;
    justify-content: space-evenly;
    color:#000
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding:1rem;
    justify-content: space-around;
}
footer{
    bottom: 0;
}